@font-face {
  font-family: 'FuturaLT';
  src: url('fonts/FuturaLT.eot');
  src: url('fonts/FuturaLT.eot?#iefix') format('embedded-opentype'),
  url('fonts/FuturaLT.woff') format('woff'),
  url('fonts/FuturaLT.ttf') format('truetype'),
  url('fonts/FuturaLT.svg#FuturaLT') format('svg');
  font-weight: bold;
  font-style: normal: ;
}
.main-nav-list{
  text-transform: uppercase;
  font-size: 13px;
  font-family: 'FuturaLT';
  letter-spacing: 2px;
}
.navbar-inverse .navbar-nav>li>a:hover {
  color: #6f6e6e;
}
